<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">A user with these credentials is already registered. Please Log in</h1>
    <a class="btn btn-dark btn-lg" href="/" role="button">Back</a>
  </div>
</div>

<%- include('partials/footer') %>
